CFD_TOKEN=
HOMEPAGE_ALLOWED_HOSTS=yangjeep.net
HOMEPAGE_VAR_PVE_TOKEN=
HOMEPAGE_VAR_PAPERLESS_TOKEN=
HOMEPAGE_VAR_SONARR_TOKEN=
HOMEPAGE_VAR_RADARR_TOKEN=
HOMEPAGE_VAR_JELLYFIN_TOKEN=
HOMEPAGE_VAR_IMMICH_TOKEN=
HOMEPAGE_VAR_PLEX_TOKEN=
HOMEPAGE_VAR_UNIFI_API_KEY=
HOMEPAGE_VAR_UPTIME_KUMA_SLUG=
HOMEPAGE_VAR_BESZEL_USERNAME=
HOMEPAGE_VAR_BESZEL_PASSWORD=
HOMEPAGE_VAR_GITEA_TOKEN=
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
HOMEPAGE_VAR_JACKETT_PASSWORD=
HOMEPAGE_VAR_TRUENAS_API_KEY=
HOMEPAGE_VAR_WALLOS_API_KEY=
